In [1]:
import pyspark

spark = pyspark.sql.SparkSession.builder.getOrCreate()

import pandas as pd
import numpy as np

# 1. Spark Dataframe Basics

- Use the starter code above to create a pandas dataframe.

In [2]:
pandas_dataframe = pd.DataFrame({
    "n": np.random.randn(20),
    "group": np.random.choice(list("xyz"), 20),
    "abool": np.random.choice([True, False], 20),
})

- Convert the pandas dataframe to a spark dataframe. From this pointforward, do all of your work with the spark dataframe, not the pandas dataframe.

In [3]:
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

- Show the first 3 rows of the dataframe.

In [4]:
df.show(3)

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
| 1.1499623128303655|    z| true|
|-0.0927155526559836|    x| true|
|  0.399785412647996|    z| true|
+-------------------+-----+-----+
only showing top 3 rows

- Show the first 7 rows of the dataframe.

In [5]:
df.show(7)

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  1.1499623128303655|    z| true|
| -0.0927155526559836|    x| true|
|   0.399785412647996|    z| true|
|  0.8882019733433619|    z|false|
|  -1.169069067649961|    z|false|
|  0.8459734375126867|    x|false|
|-0.26405863529794266|    x| true|
+--------------------+-----+-----+
only showing top 7 rows

- View a summary of the data using `.describe`.

In [6]:
df.describe().show()

+-------+-------------------+-----+
|summary|                  n|group|
+-------+-------------------+-----+
|  count|                 20|   20|
|   mean|0.20397131332666066| null|
| stddev| 0.9310820455646811| null|
|    min|-1.8972435812262745|    x|
|    max| 2.3637562686807967|    z|
+-------+-------------------+-----+

- Use `.select` to create a new dataframe with just the `n` and `abool` columns. View the first 5 rows of this dataframe.

In [7]:
df.select('n', 'abool').show()

+--------------------+-----+
|                   n|abool|
+--------------------+-----+
|  1.1499623128303655| true|
| -0.0927155526559836| true|
|   0.399785412647996| true|
|  0.8882019733433619|false|
|  -1.169069067649961|false|
|  0.8459734375126867|false|
|-0.26405863529794266| true|
|   1.015775022143998|false|
|-0.45237042146743756|false|
| 0.19026375388090394|false|
|  0.4930684447601118| true|
| -0.6561199024691382|false|
|  2.3637562686807967| true|
|  0.5159689364229127| true|
|-0.01549872937432...|false|
| -1.8972435812262745|false|
|  0.7061194117092414|false|
| 0.25219007240610014| true|
| -0.7646889916564636| true|
|  0.5701261019922602|false|
+--------------------+-----+

- Use `.select` to create a new dataframe with just the `group` and `abool`columns. View the first 5 rows of this dataframe.

In [8]:
df.select('group', 'abool').show()

+-----+-----+
|group|abool|
+-----+-----+
|    z| true|
|    x| true|
|    z| true|
|    z|false|
|    z|false|
|    x|false|
|    x| true|
|    y|false|
|    z|false|
|    y|false|
|    x| true|
|    z|false|
|    x| true|
|    y| true|
|    z|false|
|    y|false|
|    z|false|
|    y| true|
|    x| true|
|    z|false|
+-----+-----+

- Use `.select` to create a new dataframe with the `group` `abool` column renamed to `a_boolean_value`. Show the first 3 rows ofthis dataframe.

In [9]:
df.select(df.group, df.abool.alias('a_boolean_value')).show(3)

+-----+---------------+
|group|a_boolean_value|
+-----+---------------+
|    z|           true|
|    x|           true|
|    z|           true|
+-----+---------------+
only showing top 3 rows

- Use `.select` to create a new dataframe with the `group` column and the `n` column renamed to `a_numeric_value`. Show the first 6 rows of this dataframe.

In [10]:
df.select(df.group, df.n.alias('a_numeric_value')).show(6)

+-----+-------------------+
|group|    a_numeric_value|
+-----+-------------------+
|    z| 1.1499623128303655|
|    x|-0.0927155526559836|
|    z|  0.399785412647996|
|    z| 0.8882019733433619|
|    z| -1.169069067649961|
|    x| 0.8459734375126867|
+-----+-------------------+
only showing top 6 rows

# 2. Column Manipulation

- Use the starter code above to re-create a spark dataframe. Store the
       spark dataframe in a varaible named `df`

In [11]:
# Convert to spark df
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

- Use `.select` to add 4 to the `n` column. Show the results.

In [12]:
df.select(df.n + 4).show()

+------------------+
|           (n + 4)|
+------------------+
|5.1499623128303655|
|3.9072844473440163|
| 4.399785412647996|
| 4.888201973343362|
| 2.830930932350039|
| 4.845973437512686|
|3.7359413647020574|
| 5.015775022143998|
|3.5476295785325624|
| 4.190263753880904|
|4.4930684447601115|
| 3.343880097530862|
| 6.363756268680797|
|4.5159689364229125|
| 3.984501270625679|
|2.1027564187737253|
| 4.706119411709241|
|   4.2521900724061|
|3.2353110083435364|
|  4.57012610199226|
+------------------+

- Subtract 5 from the `n` column and view the results.

In [13]:
df.select(df.n - 5).show()

+-------------------+
|            (n - 5)|
+-------------------+
|-3.8500376871696345|
| -5.092715552655983|
| -4.600214587352004|
| -4.111798026656638|
| -6.169069067649961|
| -4.154026562487314|
| -5.264058635297943|
|-3.9842249778560017|
| -5.452370421467437|
| -4.809736246119096|
|-4.5069315552398885|
| -5.656119902469138|
|-2.6362437313192033|
|-4.4840310635770875|
| -5.015498729374321|
| -6.897243581226275|
| -4.293880588290759|
|   -4.7478099275939|
| -5.764688991656463|
|  -4.42987389800774|
+-------------------+

- Multiply the `n` column by 2. View the results along with the original numbers.

In [14]:
df.select(df.n * 2).show()

+--------------------+
|             (n * 2)|
+--------------------+
|   2.299924625660731|
| -0.1854311053119672|
|   0.799570825295992|
|  1.7764039466867239|
|  -2.338138135299922|
|  1.6919468750253734|
| -0.5281172705958853|
|   2.031550044287996|
| -0.9047408429348751|
|  0.3805275077618079|
|  0.9861368895202236|
| -1.3122398049382764|
|   4.727512537361593|
|  1.0319378728458255|
|-0.03099745874864...|
|  -3.794487162452549|
|  1.4122388234184828|
|  0.5043801448122003|
| -1.5293779833129273|
|  1.1402522039845204|
+--------------------+

- Add a new column named `n2` that is the `n` value multiplied by -1. Show the first 4 rows of your dataframe. You should see the original `n` value as well as `n2`.

In [15]:
n2 = (df.n * -1).alias('n2')
df = df.select('*', n2)
df.show()

+--------------------+-----+-----+--------------------+
|                   n|group|abool|                  n2|
+--------------------+-----+-----+--------------------+
|  1.1499623128303655|    z| true| -1.1499623128303655|
| -0.0927155526559836|    x| true|  0.0927155526559836|
|   0.399785412647996|    z| true|  -0.399785412647996|
|  0.8882019733433619|    z|false| -0.8882019733433619|
|  -1.169069067649961|    z|false|   1.169069067649961|
|  0.8459734375126867|    x|false| -0.8459734375126867|
|-0.26405863529794266|    x| true| 0.26405863529794266|
|   1.015775022143998|    y|false|  -1.015775022143998|
|-0.45237042146743756|    z|false| 0.45237042146743756|
| 0.19026375388090394|    y|false|-0.19026375388090394|
|  0.4930684447601118|    x| true| -0.4930684447601118|
| -0.6561199024691382|    z|false|  0.6561199024691382|
|  2.3637562686807967|    x| true| -2.3637562686807967|
|  0.5159689364229127|    y| true| -0.5159689364229127|
|-0.01549872937432...|    z|false|0.015498729374320846|
| -1.8972435812262745|    y|false|  1.8972435812262745|
|  0.7061194117092414|    z|false| -0.7061194117092414|
| 0.25219007240610014|    y| true|-0.25219007240610014|
| -0.7646889916564636|    x| true|  0.7646889916564636|
|  0.5701261019922602|    z|false| -0.5701261019922602|
+--------------------+-----+-----+--------------------+

- Add a new column named `n3` that is the n value squared. Show the first 5 rows of your dataframe. You should see both `n`, `n2`, and `n3`.

In [16]:
n3 = (df.n ** 2).alias('n3')
df = df.select('*', n3)
df.show()

+--------------------+-----+-----+--------------------+--------------------+
|                   n|group|abool|                  n2|                  n3|
+--------------------+-----+-----+--------------------+--------------------+
|  1.1499623128303655|    z| true| -1.1499623128303655|  1.3224133209301634|
| -0.0927155526559836|    x| true|  0.0927155526559836|0.008596173704304466|
|   0.399785412647996|    z| true|  -0.399785412647996| 0.15982837616612844|
|  0.8882019733433619|    z|false| -0.8882019733433619|  0.7889027454510422|
|  -1.169069067649961|    z|false|   1.169069067649961|  1.3667224849359494|
|  0.8459734375126867|    x|false| -0.8459734375126867|  0.7156710569770317|
|-0.26405863529794266|    x| true| 0.26405863529794266| 0.06972696287541189|
|   1.015775022143998|    y|false|  -1.015775022143998|  1.0317988956116397|
|-0.45237042146743756|    z|false| 0.45237042146743756| 0.20463899821862708|
| 0.19026375388090394|    y|false|-0.19026375388090394| 0.03620029604085319|
|  0.4930684447601118|    x| true| -0.4930684447601118| 0.24311649121815543|
| -0.6561199024691382|    z|false|  0.6561199024691382| 0.43049332641611143|
|  2.3637562686807967|    x| true| -2.3637562686807967|   5.587343697727762|
|  0.5159689364229127|    y| true| -0.5159689364229127|  0.2662239433533918|
|-0.01549872937432...|    z|false|0.015498729374320846|2.402106122184358...|
| -1.8972435812262745|    y|false|  1.8972435812262745|   3.599533206504299|
|  0.7061194117092414|    z|false| -0.7061194117092414|  0.4986046235926052|
| 0.25219007240610014|    y| true|-0.25219007240610014| 0.06359983262019403|
| -0.7646889916564636|    x| true|  0.7646889916564636|  0.5847492539605791|
|  0.5701261019922602|    z|false| -0.5701261019922602|  0.3250437721728891|
+--------------------+-----+-----+--------------------+--------------------+

- What happens when you run the code below?
        ```python
        df.group + df.abool
        ```

In [17]:
df.group + df.abool

Column<'(group + abool)'>

- What happens when you run the code below? What is the difference between this and the previous code sample?
        ```python
        df.select(df.group + df.abool)
        ```

In [19]:
#df.select(df.group + df.abool)

- Try adding various other columns together. What are the results of combining the different data types?

# Type casting

- Use the starter code above to re-create a spark dataframe.

In [20]:
# Convert to spark df
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

- Use .printSchema to view the datatypes in your dataframe.

In [23]:
df.printSchema

- Use .dtypes to view the datatypes in your dataframe.

In [24]:
df.dtypes

[('n', 'double'), ('group', 'string'), ('abool', 'boolean')]

- What is the difference between the two code samples below?
    `df.abool.cast('int')`
    `df.select(df.abool.cast('int')).show()`

In [25]:
# here it is being lazy
df.abool.cast('int')

Column<'CAST(abool AS INT)'>

In [26]:
# here it is being forced to tell us
df.select(df.abool.cast('int')).show()

+-----+
|abool|
+-----+
|    1|
|    1|
|    1|
|    0|
|    0|
|    0|
|    1|
|    0|
|    0|
|    0|
|    1|
|    0|
|    1|
|    1|
|    0|
|    0|
|    0|
|    1|
|    1|
|    0|
+-----+

- Use .select and .cast to convert the abool column to an integer type. View the results.

In [27]:
df.select(df.abool.cast('int')).show(5)

+-----+
|abool|
+-----+
|    1|
|    1|
|    1|
|    0|
|    0|
+-----+
only showing top 5 rows

- Convert the group column to a integer data type and view the results. What happens?

In [28]:
df.select(df.group.cast('int')).show(5)

+-----+
|group|
+-----+
| null|
| null|
| null|
| null|
| null|
+-----+
only showing top 5 rows

- Convert the n column to a integer data type and view the results. What happens?

In [29]:
df.select(df.n.cast('int')).show(5)

+---+
|  n|
+---+
|  1|
|  0|
|  0|
|  0|
| -1|
+---+
only showing top 5 rows

- Convert the abool column to a string data type and view the results. What happens?

In [32]:
df.select(df.abool.cast('string')).show(5)

+-----+
|abool|
+-----+
| true|
| true|
| true|
|false|
|false|
+-----+
only showing top 5 rows

# 4. Built-in Functions

- Use the starter code above to re-create a spark dataframe.

In [33]:
# Convert to spark df
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

- Import the necessary functions from pyspark.sql.functions

In [35]:
from pyspark.sql.functions import min, avg

- Find the lowest n value.

In [36]:
df.select(min(df.n)).show()

+-------------------+
|             min(n)|
+-------------------+
|-1.8972435812262745|
+-------------------+

- Find the average n value.

In [37]:
df.select(avg(df.n)).show()

+-------------------+
|             avg(n)|
+-------------------+
|0.20397131332666066|
+-------------------+

- Use concat to change the group column to say, e.g. "Group: x" or "Group: y"

- Use concat to combine the n and group columns to produce results that look like this: "x: -1.432" or "z: 2.352"

# 5. When / Otherwise

- Use the starter code above to re-create a spark dataframe.

In [45]:
# Convert to spark df
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

- Use when and .otherwise to create a column that contains the text "It is true" when abool is true and "It is false"" when abool is false.

- Create a column that contains 0 if n is less than 0, otherwise, the original n value.

# 6. Filter / Where

- Use the starter code above to re-create a spark dataframe.

In [46]:
# Convert to spark df
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

- Use .filter or .where to select just the rows where the group is y and view the results.

In [47]:
df.where(df.group == 'y').show()

+-------------------+-----+-----+
|                  n|group|abool|
+-------------------+-----+-----+
|  1.015775022143998|    y|false|
|0.19026375388090394|    y|false|
| 0.5159689364229127|    y| true|
|-1.8972435812262745|    y|false|
|0.25219007240610014|    y| true|
+-------------------+-----+-----+

- Select just the columns where the abool column is false and view the results.

In [49]:
df.where(df.abool == 'false').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  0.8882019733433619|    z|false|
|  -1.169069067649961|    z|false|
|  0.8459734375126867|    x|false|
|   1.015775022143998|    y|false|
|-0.45237042146743756|    z|false|
| 0.19026375388090394|    y|false|
| -0.6561199024691382|    z|false|
|-0.01549872937432...|    z|false|
| -1.8972435812262745|    y|false|
|  0.7061194117092414|    z|false|
|  0.5701261019922602|    z|false|
+--------------------+-----+-----+

- Find the columns where the group column is not y.

In [50]:
df.where(df.group != 'y').show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  1.1499623128303655|    z| true|
| -0.0927155526559836|    x| true|
|   0.399785412647996|    z| true|
|  0.8882019733433619|    z|false|
|  -1.169069067649961|    z|false|
|  0.8459734375126867|    x|false|
|-0.26405863529794266|    x| true|
|-0.45237042146743756|    z|false|
|  0.4930684447601118|    x| true|
| -0.6561199024691382|    z|false|
|  2.3637562686807967|    x| true|
|-0.01549872937432...|    z|false|
|  0.7061194117092414|    z|false|
| -0.7646889916564636|    x| true|
|  0.5701261019922602|    z|false|
+--------------------+-----+-----+

- Find the columns where n is positive.

In [54]:
df.where(df.n % 2 == 0).show()

+---+-----+-----+
|  n|group|abool|
+---+-----+-----+
+---+-----+-----+

- Find the columns where abool is true and the group column is z.

In [55]:
df.where(df.abool == 'true').where(df.group == 'z').show()

+------------------+-----+-----+
|                 n|group|abool|
+------------------+-----+-----+
|1.1499623128303655|    z| true|
| 0.399785412647996|    z| true|
+------------------+-----+-----+

- Find the columns where abool is true or the group column is z.

In [56]:
df.where(df.abool == 'true').where(df.group == 'z').show()

+------------------+-----+-----+
|                 n|group|abool|
+------------------+-----+-----+
|1.1499623128303655|    z| true|
| 0.399785412647996|    z| true|
+------------------+-----+-----+

- Find the columns where abool is false and n is less than 1

In [57]:
df.where(df.abool == 'false').where(df.n < 1).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  0.8882019733433619|    z|false|
|  -1.169069067649961|    z|false|
|  0.8459734375126867|    x|false|
|-0.45237042146743756|    z|false|
| 0.19026375388090394|    y|false|
| -0.6561199024691382|    z|false|
|-0.01549872937432...|    z|false|
| -1.8972435812262745|    y|false|
|  0.7061194117092414|    z|false|
|  0.5701261019922602|    z|false|
+--------------------+-----+-----+

# 7. Sorting

- Use the starter code above to re-create a spark dataframe.

In [58]:
# Convert to spark df
df = spark.createDataFrame(pandas_dataframe)
df

DataFrame[n: double, group: string, abool: boolean]

- Sort by the n value.

In [59]:
df.sort(df.n).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -1.8972435812262745|    y|false|
|  -1.169069067649961|    z|false|
| -0.7646889916564636|    x| true|
| -0.6561199024691382|    z|false|
|-0.45237042146743756|    z|false|
|-0.26405863529794266|    x| true|
| -0.0927155526559836|    x| true|
|-0.01549872937432...|    z|false|
| 0.19026375388090394|    y|false|
| 0.25219007240610014|    y| true|
|   0.399785412647996|    z| true|
|  0.4930684447601118|    x| true|
|  0.5159689364229127|    y| true|
|  0.5701261019922602|    z|false|
|  0.7061194117092414|    z|false|
|  0.8459734375126867|    x|false|
|  0.8882019733433619|    z|false|
|   1.015775022143998|    y|false|
|  1.1499623128303655|    z| true|
|  2.3637562686807967|    x| true|
+--------------------+-----+-----+

- Sort by the group value, both ascending and descending.

In [60]:
df.sort(df.group).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.7646889916564636|    x| true|
|  0.4930684447601118|    x| true|
|  2.3637562686807967|    x| true|
|-0.26405863529794266|    x| true|
|  0.8459734375126867|    x|false|
| -0.0927155526559836|    x| true|
|   1.015775022143998|    y|false|
| 0.25219007240610014|    y| true|
| 0.19026375388090394|    y|false|
|  0.5159689364229127|    y| true|
| -1.8972435812262745|    y|false|
|-0.45237042146743756|    z|false|
|   0.399785412647996|    z| true|
|  0.8882019733433619|    z|false|
|  0.7061194117092414|    z|false|
|  0.5701261019922602|    z|false|
| -0.6561199024691382|    z|false|
|-0.01549872937432...|    z|false|
|  -1.169069067649961|    z|false|
|  1.1499623128303655|    z| true|
+--------------------+-----+-----+

In [62]:
df.sort(desc('group')).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|-0.45237042146743756|    z|false|
|   0.399785412647996|    z| true|
|  0.8882019733433619|    z|false|
|-0.01549872937432...|    z|false|
|  1.1499623128303655|    z| true|
| -0.6561199024691382|    z|false|
|  -1.169069067649961|    z|false|
|  0.7061194117092414|    z|false|
|  0.5701261019922602|    z|false|
|   1.015775022143998|    y|false|
|  0.5159689364229127|    y| true|
| 0.19026375388090394|    y|false|
| 0.25219007240610014|    y| true|
| -1.8972435812262745|    y|false|
|  0.8459734375126867|    x|false|
|  2.3637562686807967|    x| true|
|  0.4930684447601118|    x| true|
| -0.7646889916564636|    x| true|
|-0.26405863529794266|    x| true|
| -0.0927155526559836|    x| true|
+--------------------+-----+-----+

- Sort by the group value first, then, within each group, sort by n value.

In [63]:
df.sort(asc('group'), asc('n')).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
| -0.7646889916564636|    x| true|
|-0.26405863529794266|    x| true|
| -0.0927155526559836|    x| true|
|  0.4930684447601118|    x| true|
|  0.8459734375126867|    x|false|
|  2.3637562686807967|    x| true|
| -1.8972435812262745|    y|false|
| 0.19026375388090394|    y|false|
| 0.25219007240610014|    y| true|
|  0.5159689364229127|    y| true|
|   1.015775022143998|    y|false|
|  -1.169069067649961|    z|false|
| -0.6561199024691382|    z|false|
|-0.45237042146743756|    z|false|
|-0.01549872937432...|    z|false|
|   0.399785412647996|    z| true|
|  0.5701261019922602|    z|false|
|  0.7061194117092414|    z|false|
|  0.8882019733433619|    z|false|
|  1.1499623128303655|    z| true|
+--------------------+-----+-----+

- Sort by abool, group, and n. Does it matter in what order you specify the columns when sorting?

In [64]:
df.sort(asc('abool'), asc('group'), asc('n')).show()

+--------------------+-----+-----+
|                   n|group|abool|
+--------------------+-----+-----+
|  0.8459734375126867|    x|false|
| -1.8972435812262745|    y|false|
| 0.19026375388090394|    y|false|
|   1.015775022143998|    y|false|
|  -1.169069067649961|    z|false|
| -0.6561199024691382|    z|false|
|-0.45237042146743756|    z|false|
|-0.01549872937432...|    z|false|
|  0.5701261019922602|    z|false|
|  0.7061194117092414|    z|false|
|  0.8882019733433619|    z|false|
| -0.7646889916564636|    x| true|
|-0.26405863529794266|    x| true|
| -0.0927155526559836|    x| true|
|  0.4930684447601118|    x| true|
|  2.3637562686807967|    x| true|
| 0.25219007240610014|    y| true|
|  0.5159689364229127|    y| true|
|   0.399785412647996|    z| true|
|  1.1499623128303655|    z| true|
+--------------------+-----+-----+